@import "~material-design-icons/iconfont/material-icons.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#container {
    padding: 20px 38px;
}

.mat-table{
    width: 100%;

.mat-row {

    .mat-raised-button {
        visibility: hidden;
    }

    &:hover {
        filter: brightness(110%);

        .mat-raised-button {
            visibility: visible;
        }
    }


}

}

.new-item-button-container {
    margin-bottom: 10px;
    text-align: right;

    mat-raised-button {
        font-size: 120%;
    }
}

.std-form {
    
    max-width: 80%;
    margin: 0 auto;

    mat-form-field {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        margin-right: 30px;
    }
}